:root{
    --color-black: #000000;
    --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 20px;
}


input[type="text"]{
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.btn-cancelar{
  background-color: red;
  border: 2px dashed white;
  color: #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancelar{
  background
}
