:root{
    --color-black: #000000;
    --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 20px;
}

